@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+IT+Moderna:wght@100..400&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "./shadcn.css";
@plugin '@tailwindcss/typography';
@plugin 'tailwind-hamburgers';

@theme inline {
  --font-inter: 'Inter', sans-serif;
	--font-space-mono: 'Space Mono', sans-serif;
	--font-playwrite-it-moderna: 'Playwrite IT Moderna', sans-serif;
  
  --color-background: #010104;
	--color-primary: #794eff;
	--color-secondary: #222222;
	--color-accent: #9290e4;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
	--grid-color: #303030;
}

.dot {
	inset: 0;
	height: 100%;
	width: 100%;
	background-image: 
    linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
		linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
	background-size: 100px 100px;
}